h1 {
    color: goldenrod;
    text-align: center;
}

h3 {
    color:goldenrod;
    text-align: center;
}

body
{
    background-color: black;
    color: whitesmoke; 
}

a{
    color: white;
}